{% load static %}

<link rel="stylesheet" href="{% static 'app/style.css' %}">

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>login</title>
  </head>
  <body>
    <div id = 'page'>
    <p> Enter your username and we will email you a code to reset your password. </p>
    <div id = 'username_form'>
    <form action="{% url 'change_password_page' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label for="username"> Username: </label>
    <input type="text" name="username" id="username">
    <br>
    </fieldset>
    <input type="submit" value="Login">
    </form>
  </div>
  </div>
  </body>
</html>