{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} website {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
  </head>
  <body>
  <div id = 'main-block'>
  {% if user.profile.cursed_with_comic_sans %}<div id = 'comic-sans'>{% endif %}
  <div id = 'top'>
    <div  class = 'menu-account'><p style="margin-right: 5%;">Hello {{user.username}}</p>
      <a href ="{% url 'change_password_setup' %}">Change password</a>
      <a style="margin-right: 5%;" href ="{% url 'logout_action' %}">Logout</a>
     </div>

  </div>
  <div class="d-flex flex-row">
    {% block menu %}
  <div id ='menu-block' class="d-flex">
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 mx-3" style="flex: 1; margin-top: 50%;">
  <div id="list-group list-group-flush">
    <div class = 'list-group-item-action py-3 my-2 container menu-element'><a href ="{% url 'schedule' %}"><h3>Schedule</h3></a></div>
    <div class = 'list-group-item-action py-3 my-2 container menu-element'><a href ="{% url 'library' %}"><h3>PPE Library</h3></a></div>
    <div class = 'list-group-item-action py-3 my-2 container menu-element'><a href ="{% url 'preferences' %}"><h3>Piece preference form</h3></a></div>
    <div class = 'list-group-item-action py-3 my-2 container menu-element'><a href ="{% url 'availability' %}"><h3>Availability</h3></a></div>
  {%block md_menu %}
  {% if user.is_staff %}
  <div class = 'list-group-item-action py-3 my-2 container menu-element'><a href ="{% url 'schedule_md' %}"><h3>Edit schedule</h3></a></div>
  <div class = 'list-group-item-action py-3 my-2 container menu-element'><a href ="{% url 'availability_md' %}"><h3>See availabilities</h3></a></div>
  <div class = 'list-group-item-action py-3 my-2 container menu-element'><a href ="{% url 'preferences_md' %}"><h3>Assign pieces</h3></a></div>
  <div class = 'list-group-item-action py-3 my-2 container menu-element'><a href = "{% url 'go_to_admin_site' %}"><h3>Admin page</h3></a></div>

{% endif %}
{% endblock %}
</div>
</div>
  </div> 
  {% endblock %}



    <div id="content-box" class="container" style="max-width: 80%;">
    <div id="content" class="mx-3 my-3">
	{% block content %} this is a page {% endblock %}
    </div>
    </div>
    </div>
    {% if user.profile.has_cat %}
      <img id = 'cat' src="{% static 'app/cat.png' %}">
    {% endif %}
  {% if user.profile.cursed_with_comic_sans %}</div>{% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>