{% load static %}

<link rel="stylesheet" href="{% static 'app/style.css' %}">

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} website {% endblock %}</title>
  </head>
  <body>
  <div id = 'main-block'>
  {% if user.profile.cursed_with_comic_sans %}<div id = 'comic-sans'>{% endif %}
  <div id = 'top'>
    nothing to see here
    <div  class = 'menu-account'><p> Hello {{user.username}}
      <a class = 'smaller-link' href ="{% url 'change_password_setup' %}">Change password</a>
      <a class = 'smaller-link' href ="{% url 'logout_action' %}">Logout</a></p>
     </div>

  </div>
    {% block menu %}
  <div id ='menu-block'>
  <div id="menu">
  <a class = 'menu-link' href ="{% url 'schedule' %}"><div  class = 'menu-element'><p>Schedule</p></div></a>
  <a class = 'menu-link' href ="{% url 'library' %}"><div  class = 'menu-element'><p>PPE Library</p></div></a>
  <a class = 'menu-link' href ="{% url 'preferences' %}"><div  class = 'menu-element'><p>Piece preference form</p></div></a>
  <a class = 'menu-link' href ="{% url 'availability' %}"><div  class = 'menu-element'><p>Availability</p></div></a>
  {%block md_menu %}
  {% if user.is_staff %}
  <div id = 'md_menu'>
  <a class = 'menu-link' href ="{% url 'schedule_md' %}"><div  class = 'menu-element'><p>Edit schedule</p></div></a>
  <a class = 'menu-link' href ="{% url 'availability_md' %}"><div  class = 'menu-element'><p>See availabilities</p></div></a>
  <a class = 'menu-link' href ="{% url 'preferences_md' %}"><div  class = 'menu-element'><p>Assign pieces</p></div></a>
  <a class = 'menu-link' href = "{% url 'go_to_admin_site' %}"><div  class = 'menu-element'><p>Admin page</p></div></a>
</div>
{% endif %}
{% endblock %}
  </div> </div>
  {% endblock %}



    <div id="content-box">
    <div id="content">
	{% block content %} this is a page {% endblock %}
    </div>
    </div>
{% if user.profile.has_cat %}
  <img id = 'cat' src="{% static 'app/cat.png' %}">
{% endif %}
  {% if curse_of_comic_sans %}</div>{% endif %}
</div>
  </body>
</html>