{% load static %}

<link rel="stylesheet" href="{% static 'app/style.css' %}">

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>login</title>
  </head>
  <body>
    <div id = 'page'>
    <p> Enter the code and the new password you want. </p>
    <div id = 'reset_form'>
    <form action="{% url 'change_password_action' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label for="code"> Code: </label>
    <input type="text" name="code" id="code">
    <br>
    <label for="password"> New password: </label>
    <input type="text" name="password" id="password">
    <br>
    <input type = 'hidden' name = 'username' value = '{{username}}' />
    </fieldset>
    <input type="submit" value="Login">
    </form>
  </div>
  </div>
  </body>
</html>