html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

#main-block {
    min-height: 100vh;
    background-color: rgb(255, 246, 253);
}

#comic-sans {
    font-family: 'Comic Sans MS', fantasy;
}

tr{
    height: 5px;
    overflow: visible;
}
td{
    /*padding: 0px;*/
    font-size: small;
    height: 5px;
    overflow: visible;
}

.block{
    border-radius: 0;
    width: 100px;
    border-width: 0px;
    margin-left: 3px;
    height: 5px;
    overflow: visible;

}

th{
    background-color: rgb(125, 196, 113);
    height: 5px;
    overflow: visible;
}

.schedule_left{
    width: 50px;
}

.is_0{
    background-color: white;
    color: white;
}

.is_1{
    background-color: #00cc00;
    color: #00cc00;
}

.is_-1{
    background-color: darkslategrey;
    color: darkslategrey;

}


.info tbody tr:nth-child(odd)
{
  background-color: rgb(255, 246, 253);
}

.info tbody tr:nth-child(even)
{
  background-color: rgb(253, 208, 255);
}

#top{
    height: 70px;
    min-width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    color: #444444;
}

.top_border {
    border-top-width: 2px;
    border-color: #999999;
}

.menu-account{
    background-color: #444444;
    color: lightcyan;
    text-align: right;
}
.menu-account p{
    color: lightcyan;
    margin-bottom: 0;
}

.menu-account a{
    color: lightcyan;
}

#cat{
    position: absolute;
    top: 0;
    right: 30%;
    height: 100px;
    width: auto;
}

#menu-block{
    background-color: #444444;
    min-width: 20%;
    max-width: 30%;
    min-height: 100vh;
}

.menu-element{
    background-color: white;
    border: 2px solid white;
    border-radius: 7px;
}

.menu-element:hover{
    background-color: lightcyan;
}

.menu-element h3{
    margin-left: 5%;
    font-size: 120%;
    margin-bottom: 0px;
}

.menu-link{
    color: rgb(80, 19, 136);
}




#content-box{
    margin-top: 5%;
    /*display: flex;
    /* align-items: center;
    justify-content: center;*/
}

#content{
    display: flex;
    justify-content: center;
}



.secret{
    display: none;
}

#piece_table{
    background-color: #999999;
    width: auto;
    min-width: 100%;
}
.piece_table_left{
    min-width: 100px;
}
.piece_table_column{
    min-width: 100px;
}

.input_box{
    border: none;
    background-color: transparent;
}

#comments{
    background-color: rgb(212, 244, 251);
    overflow-wrap: break-word;
    height: 150px;
}
#suggested_matchings{
    background-color: rgb(255, 208, 215);
    height: 150px;
}
.box{
    height: 100%;
    width: 50%;
    overflow-y: scroll;
}
#comment-table{
    overflow-wrap: break-word;

}
.comment-text{
    overflow-wrap: break-word;
    width: 320px;

}
#table-of-preferences{
    margin-top: 5%;
}
#pref_table{
    background-color: black;
}
#pref_table td{
    text-align: center;
}

.input_box{
    width: 100px;
}

.clickable{
    border-color: #555555;
    border-width: 2px;
    border-style: solid;
    min-width: 200px;
    min-height: 30px;
    font-size: 120%;
    background-color: transparent;
}

.clickable:hover{
    background-color: lightcyan;
}

#filter_mcalpin{
    font-size: 70%;
}

#comment_box{
    width: 753px;
    height: 60px;
}


#start_text{
    margin-left: 50px;
}


#riddle_block{
    position: absolute;
    top: 150px;
    left: 50px;
    right: 50px;
    height: 300px;
    border-color: blue;
    border-width: 3px;
    border-style: solid;

}

.riddle{
    font-size: large;
    font-style: italic;
}

#riddle_1{
    width: 391px;
    position: absolute;
    left: 125px;
    top: 50px;
}

#riddle_2{
    width: 391px;
    position: absolute;
    left: 0px;
    top: 50px;
}
#riddle_2_text{
    margin-left: 280px;
    width: 200px;
}

#riddle_3{
    width: 150px;
    position: absolute;
    left: 264px;
    top: 50px;
}

#congrats{
    position: absolute;
    left: 90px;
    top: 50px;
    width: 500px;
    font-style: italic;

}

#answer{
    position: absolute;
    width: 150px;
    bottom: 50px;
    left: 264px;
}

#check{
    position: absolute;
    width: 50px;
    bottom: 20px;
    left: 314px;

}
#continue{
    position: absolute;
    width: 70px;
    bottom: 20px;
    left: 304px;

}

#wrong, #close{
    padding: 5px;
    position: absolute;
    width: 200px;
    left: 239px;
    bottom: -20px;
}

#wrong{
    background-color: lightcoral;
}
#close{
    background-color: gold;
}

#riddle_title{
    background-color: white;
    position: absolute;
    top: -21px;
    left:288px;
    font-size:x-large;
    /* width: 110px;*/
    padding: 5px;
    color: blue;

}
#musescore {
    width: 679px;
    height: auto;
}

#success_cat{
    position: absolute;
    top: -91px;
    left: 60%;
    height: 150px;
    width: auto;
}



#login_form{
    width: 300px;
}

#login_page{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
}

.login_text{
    width: 180px;
}

.table-wrapper {
    overflow-x: auto;
    white-space: nowrap;
}

#login-box {
    background-color: rgb(247, 234, 244);
    border-color: white;
    border-width: 2px;
    border-style: solid;
}